* {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 25px;
    font-family: var(--font1);
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
}

.nav-left span {
    font-size: 35px;
}
.nav-left span img{
    width: 94px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 20px;
    padding-bottom: 23px;
}

.nav-left ul li {
    list-style-type: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.content {
    display: flex;
    height: 100%;
    /* background-color: rgb(247, 247, 255); */
    margin-top: 32px;
    padding: 9px;
    position: relative;
}

.content::after {
    content: "";
    background-image: url('/tBlog/img/11.svg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 10px;
}

.content-left {
    font-family: var(--font1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    z-index: 1;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-right img {
    height: 355px;
    border: 2px solid black;
    border-radius: 200px;
}

.home-articles {
    margin-top: 23px;
    padding: 18px;
    background-color: rgba(248, 224, 224, 0.5);
    position: relative;
}

.year-box {
    position: absolute;
    width: 234px;
    height: 255px;
    right: 419px;
    top: 100px;
    font-size: 18px;
}
.year-box div {
    margin: 12px 0px;
}
.home-article {
    display: flex;
    margin: 25px;
}

.home-article img {
    width: 300px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content a {
    text-decoration: none;
    color: black;
}

.footer {
    height: 50px;
    background: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.footer a {
    color: white;
}